@font-face {
    font-family: Futura;
    src: url('../assets/fonts/futura.woff') format("WOFF");
    font-weight: 400;
}
  
@font-face {
    font-family: Futura;
    src: url('../assets/fonts/futuraHeavy.woff') format("WOFF");
    font-weight: bold;
}

* {
    cursor: url('../assets/cursor.svg'), auto;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: Futura;
    font-weight: 400;
    color: white;
}

#root {
    height: 100%;
}

.container {
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    align-content: center;
}

.buttonText {
    fill: white;
    font-weight: 400;
    font-size: 1.6em;
}


.logo {
    height: 50vh;
    width: auto;
}


.button {
    width: 14em;
    height: auto;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}

.registerTitle {
    font-weight: 400;
    font-size: 1.7em;
}

.cell {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    background-color: black;
    width: 14em;
    font-family: Futura;
    font-weight: 400;
    color: white;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;

    font-size: 1.8em;
}

input[type="submit"] { 
    display: none;
}

label {
    display: block;
    margin-bottom: 1em;
}

::placeholder {
    font-family: Futura;
    font-weight: 400;
    color: white;
}


@media only screen and (max-width: 900px) {
    .container {grid-template-columns: 100%;}
    .logo {height: 35vh;}
}

@media only screen and (min-width: 900px) {
    .container {grid-template-columns: 50% 50%;}
    .logo {height: 60vh;}
}

.logo-main {
    height: 50%;
}


