.filter-item {
    min-width: 5em;
    padding: 0.0em 0.4em;
    background: rgb(0,0,0, 0.4);
    /*border: thin;
    border-color: (255, 255, 255, 0.4);*/
    border: thin solid white;
    border-radius: 10px;
    line-height: 1.5em;
    color: inherit;
    font: inherit;
    margin-left: 1em;
}

select.filter-item:hover {
    size: 1000px;
}

.filter-item * {
 border-radius: 15px;
 background-color: red;
}
