/* src/styles/ProductList.css */

.product-list {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    overflow-y: scroll;
    display: grid;
    gap: 3px;
    align-content: start;
    
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0.8%, black 99.2%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 0.8%, black 99.2%, transparent 100%);
    
    overflow-y: scroll;
}

.productSelected {
    grid-template-columns: 32% 32% 32%;
}

.productNotSelected {
    grid-template-columns: 15.36% 15.36% 15.36% 15.36% 15.36% 15.36%;
}

/* ocultar a scrollbar krl!! */
.product-list::-webkit-scrollbar {
    display: none;
}

.product-list {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none;  /* internet explorer e edge */
}

.product-item {
    padding: 3px;
    height: 300px; /* aqui tem q por responsivo mas vai com deus */
    border: 2px solid rgba(0,0,0,0);
    transition: 0.3s;
    font-weight: bold;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 18% 12%;
}

.product-item:hover {
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.product-item-image {
    text-align: center;
}

.product-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-item-name {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.product-item-name > span {
    position: relative;
    display: inline-block;
}

.text-overflow {
    animation: move 9s linear infinite alternate;
}

@keyframes move {
    25% { transform: translate(0, 0); left: 0%; }
    75%, 100% { transform: translate(-100%, 0); left: 100%; }
}

.product-item-price {
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 100%;
    color: gold;
}

.product-item-price-gold > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.selected {
    background-image: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.4));
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.7));
    filter: drop-shadow(0 0 2px black);
}