.adminInsertionContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
}

.adminInsertionHeader, .adminInsertionForm, .adminInsertionFooter {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.adminInsertionForm {
    overflow-y: scroll;
    height: 100%;
    width: auto;
}