/* src/styles/ProductInfo.css */

#product-info {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    border-radius: 20px;
    margin-left: 1%;
    overflow-y: auto;
    margin-right: 0.7em;

    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%), linear-gradient(to right, transparent 0%, black 1%, black 99%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%), linear-gradient(to right, transparent 0%, black 1%, black 99%, transparent 100%);
  
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
    
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    /*pra remover scrollbar*/
    scrollbar-width: none;  /* firefox */
    -ms-overflow-style: none; /* internet explorer */
}

#product-info::-webkit-scrollbar {
    display: none;  /* chrome e safari */
}

#product-info > img {
    width: 75%;
}
