.sessionButton {
    width: 9em;
    height: 100% !important;
    max-height: 10em;
    transition: 0.3s;
    margin-left: 5%t;
}

.sessionButton:hover {
    cursor: pointer;
    opacity: 75%;
}

.sessionText {
    fill: white;
    font-family: futura;
}

#edit-button {
  width: auto;
  height: auto;
  display: block;
}