.sessionButton {
    width: 9em;
    height: 100% !important;
    max-height: 10em;
    transition: 0.3s;
}

.sessionButton:hover {
    cursor: pointer;
    opacity: 75%;
}

.sessionText {
    fill: white;
    font-family: futura;
}

#login-button {
    display: flex;
    align-items: flex-end;
}