/* src/styles/style.css */

@font-face {
    font-family: Futura;
    src: url('/public/assets/fonts/futura.woff') format("WOFF"); /* O "/" no início indica a raiz do diretório public */
    font-weight: 400;
}

@font-face {
    font-family: Futura;
    src: url('/public//assets/fonts/futuraHeavy.woff') format("WOFF");
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-family: Futura;
    font-weight: 400;
    color: white;
}

#root {
    height: 100%;
}

.container-index {
    height: 100%;
    display: grid;
    grid-template-columns: 12% 4% 84%;
    grid-template-rows: 98% 2%;
    overflow: hidden;
}

.container-user {
    height: 100%;
    display: grid;
    grid-template-rows: 98% 2%;
    overflow: hidden;
}

.one-sidebar {
    grid-template-columns: 12% 4% 82%;
}

.two-sidebars {
    grid-template-columns: 12% 4% 7% 4% 71%;
}

.container2-user {
    display: grid;
    height: 100%;
    font-size: 1.8em;
    overflow: hidden;
}

.no-sale-info {
    grid-template-rows: 10% 90%;
}

.sale-info {
    grid-template-rows: 10% 10% 80%;
}

.containerWithoutSelection {
    grid-template-columns: 48% 4% 48%;
}

.containerWithSelection {
    grid-template-columns: 100%;
}

.navbar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  height: 100%;
  max-height: 5em;
}

.navbar-user > span > input {
    background: rgb(0,0,0, 0.4);
    height: 50% !important;
    width: 75%;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 10px !important;
}

.navbar> :first-child {
    flex: 1 1 auto; 
    max-width: 75%;  /* optional: limit max width */
}

.navbar> :nth-child(2) {
    flex: 0 0 auto; 
    min-width: fit-content;
    width: auto;
}


.rodape {
    grid-column-start: 1;
    grid-column-end: 6;
    margin-left: 1em;
    text-align: center;
    opacity: 0.75;
    height: 100%;
}

.pages {
    margin-left: 1em;
}

input[type="email"], input[type="password"], input[type="text"] {
    background-color: black;
    width: 14em;
    font-family: Futura;
    font-weight: 400;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 1.8em;
}

input[type="submit"] {
    display: none;
}

::placeholder {
    font-family: Futura;
    font-weight: 400;
    color: white;
}

.buttonText {
    fill: white;
    font-weight: 400;
    font-size: 1.6em;
}

.button {
    width: 14em;
    height: auto;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}

.cell { 
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

label { 
    display: block;
    margin-bottom: 1em;
}

#search-title {
    text-shadow: 0 0 5px white;
}

.searchbar-div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#searchbar {
    background: rgb(0,0,0, 0.4);
    height: 50% !important;
    width: 75%;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 10px !important;
}

.navbuttons-div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.edit-account-button {
    width: 17%;
    transition: 0.3s;
}

.edit-account-button:hover {
    opacity: 75%;
    cursor: pointer;
}