@font-face {
    font-family: Futura;
    src: url('../assets/fonts/futura.woff') format("WOFF");
    font-weight: 400;
}

@font-face {
    font-family: Futura;
    src: url('../assets/fonts/futuraHeavy.woff') format("WOFF");
    font-weight: bold;
}


body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-size: 1.8em;
    font-family: Futura;
    font-weight: 400;
    color: white;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    text-align: end;
}

li.sideBarItem:not(:last-child) {
    margin-bottom: 20%;
}

.sideBarItem > a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sideBarItem > a:hover {
    font-size: 110%;
    text-shadow: 0 0 10px white;
}

.centerSelected {
    font-size: 1.9vw;
    text-shadow: 0 0 3px white;
}

.center {
    font-size: 1.7vw;
}

.edge1 {
    font-size: 1.5vw;
    opacity: 75%;
}

.edge2 {
    font-size: 1.3vw;
    opacity: 50%;
}

.edge3 {
    font-size: 1.1vw;
    opacity: 25%;
}

#vertDiv {
    width: 100%;
    height: 100%;
    /*border: 1px solid white;*/
}

.sidebar {
    display: grid;
    grid-template-rows: 17% 83%;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-index {
    height: 100%;
    display: grid;
    grid-template-columns: 12% 4% 84%;
    grid-template-rows: 98% 2%;
    overflow: hidden;
}

.container2 {
    display: grid;
    height: 100%;
    grid-template-rows: 10% 7% 83%;
    overflow: hidden;
}

.containerWithoutSelection {
    grid-template-columns: 48% 4% 48%;
}

.containerWithSelection {
    grid-template-columns: 100%;
}

.productClasses {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.product-list {
    overflow: scroll;
    display: grid;
    gap: 1%;
}

.productSelected {
    grid-template-columns: 32% 32% 32%;
}

.productNotSelected {
    grid-template-columns: 15.36% 15.36% 15.36% 15.36% 15.36% 15.36%;
}

/*.product-list::-webkit-scrollbar {
    display: none;
}

.product-list {
    scrollbar-width: none;
    -ms-overflow-style: none;
}*/


.product-item {
    padding: 3px;
    height: 300px;
    border: 2px solid rgba(0,0,0,0);
    transition: 0.3s;
    font-weight: bold;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 18% 12%;
}

.product-item:hover {
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.product-item-image {
    text-align: center;
}

.product-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-item-name {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.product-item-name > span {
    position: relative;
    display: inline-block;
}

.text-overflow {
    animation: move 9s linear infinite;
}

@keyframes move {
    25% { transform: translate(0, 0); left: 0%; }
    75%, 100% { transform: translate(-100%, 0); left: 100%; }
}


.product-item-price {
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 100%;
    color: gold;
}

.product-item-price-gold > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.selected {
    background-image: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.4));
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.7));
    filter: drop-shadow(0 0 2px black);
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 4;

    margin-top: auto;
    margin-bottom: auto;
}

.rodape {
    grid-column-start: 1;
    grid-column-end: 4;
}

.filters {
    grid-column-start: 1;
    grid-column-end: 4;
}

.buttonText {
    fill: white;
    font-weight: 400;
    font-size: 1.6em;
}


.button {
    width: 14em;
    height: auto;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}

.registerTitle {
    font-weight: 400;
    font-size: 1.7em;
}

.cell {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    background-color: black;
    width: 14em;
    font-family: Futura;
    font-weight: 400;
    color: white;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;

    font-size: 1.8em;
}

input[type="submit"] { 
    display: none;
}

label {
    display: block;
    margin-bottom: 1em;
}

::placeholder {
    font-family: Futura;
    font-weight: 400;
    color: white;
}


